
@{
     Layout = "~/SiteLayout.cshtml";
}

     
            
<div class="row">
<div class="large-12 columns">
    <h2>Appel API 1.0 Documentation</h2>
    <p>
        The <strong>Appel API</strong> is a <a href="http://en.wikipedia.org/wiki/Representational_state_transfer">REST-based</a> interface to the Appel fencing data. You can
        access <a href="http://en.wikipedia.org/wiki/JSON">JSON-formatted</a> information about Database <a class="reference internal" href="resources/database/index.html#database"><em>Resources</em></a> such as
        <a class="reference internal" href="resources/database/artist.html#artist"><em>Fencers</em></a>, <a href="resources/database/release.html#release"><em>Competitions</em></a>, and <a href="resources/database/label.html#label"><em>Results</em></a>.
    </p>
    <p>
        Database data is made available under the <a href="http://creativecommons.org/about/cc0">CC0 No Rights Reserved</a> license,
        which means there are no restrictions on what you can do with it.
    </p>
    <p>
        The API itself is available over on <a href="https://github.com/TheHandsomeCoder/SOFT512RestAPI"> GitHub</a> under the<a href="http://opensource.org/licenses/MIT"> MIT</a> licence and pull requests are welcome!
</p>
    </div>
</div>

            

                

             
              


      